/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-family:"Lobster",Helvetica,Arial,sans-serif;
	background:#333333;
	}
	
.darkestGreen .jumbotron{
	background-color:#393D1E;
	color: #AA9C41
	}




















